.header{
    background: $dark-blue;
    //display: flex;
}
.header__content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}
.header__title{
    color:rgb(200, 211, 223);
    text-decoration: none;
    h1{
        margin: 0;
    }
}