.list-header{
    background: $light-gray;
    border:1px solid darken($light-gray, 7%);
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}
.list-item{
    display: flex;
    border:1px solid darken($light-gray, 7%);
    border-top: none;
    color: $dark-blue;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{
        background: $light-gray;
    }
    @media (min-width:$desktop-breakpoint) {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: $m-size;
    }
}
.list-body{
    margin-bottom: $m-size;
    @media (min-width:$desktop-breakpoint) {
        margin-bottom: $l-size;
    }    
}
.list-item--message{
    align-items: center;
    justify-content: center;
    color: $blue;
    padding: $m-size;
    &:hover{
        background: none;
    }
}
.list-item__title{
    padding-bottom: $s-size;
    margin:0;
    word-break: break-all;
}
.list-item__sub-title{
    font-size: 1.4rem;
    color: $blue;
    padding-top: $s-size;
}
.list-item__data{
    margin:$s-size 0 0 0;
    @media (min-width:$desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}